.background {
    background-image: url("../assets/wisemen-cover.jpg");
    background-size: cover;
    background-position: center;
}

.bottom {
    margin-top:20px;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.flex-50  {
    width: calc(50%);
}

.flex-55 {
    width: calc(50%);
}

@media all and (max-width: 1000px) {
    .flex-55 {
        width: 100%;
    }

    .flex-50 {
        width: 0;
    }

    .left-container {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .flex-55 {
        width: 100%;
    }

    .flex-50 {
        width: 0;
    }

    .left-container {
        display: none;
    }

    .app {
        display: none;
    }
}