.background {
    background-image: url("../assets/wisemen-cover.jpg");
    background-size: cover;
    background-position: center;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.flex-50 {
    width: calc(50%);
}

@media only screen and (max-width: 650px) {
    .flex-50 {
        width: 100%;
    }

    .left-container {
        display: none;
    }
}